*/30 * * * * root sleep $(expr $RANDOM \% 300) ; cd /SackConfig && ./generate.sh
*/30 * * * * root sleep $(expr $RANDOM \% 300) ; cd /SackConfig && ./run-alternate-configs.sh
0 0 * * * root cd /SackConfig && ./run-undelegated.sh

